*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

header nav{
    float: right;

}

header nav ul li{
    display: inline;

}


header nav ul li a{
    text-decoration: none;
    color: white;
    background-color: lightseagreen;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;

}


header nav ul li a:hover{
    color: lightseagreen;
    background-color: white;

}
