<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/eindproject.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/organisme"> Organisme </a></li>
                <li><a href="/proteine"> Protein </a></li>
                <li><a href="/blast"> BLAST </a></li>
                <li><a href="/overons"> Over ons </a></li>
            </ul>
        </nav>
        <img src="../static/paddestoel.png" alt="Logo van website">
    </header>
    <br>
    <div class="text">
    <br>
         {% block body %}

        {% endblock %}
    <br>
    </div>

<footer>
    {% block footer %}

    {% endblock %}
    <br>
    <li><a href=""> Home </a></li>
    <li><a href="organisme"> Organisme </a></li>
    <li><a href="proteines"> Protein </a></li>
    <li><a href="blast"> BLAST </a></li>
    <li><a href="overons"> Over ons </a></li>
</footer>
</body>

</html>