<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/eindprojectcss.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home"> Home </a></li>
                <li><a href="organisme"> Organisme </a></li>
                <li><a href="proteines"> Protein </a></li>
                <li><a href="blast"> BLAST </a></li>
                <li><a href="overons"> Over ons </a></li>
            </ul>
        </nav>
    </header>
    <br>
    {% block body %}

    {% endblock %}
    <br>
<footer>
    {% block footer %}

    {% endblock %}
    <br>
    <li><a href="home"> Home </a></li>
    <li><a href="organisme"> Organisme </a></li>
    <li><a href="proteines"> Protein </a></li>
    <li><a href="blast"> BLAST </a></li>
    <li><a href="overons"> Over ons </a></li>
</footer>
</body>

</html>