<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eindproject.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/organisme"> Organisme </a></li>
                <li><a href="/protein"> Protein </a></li>
                <li><a href="#"> BLAST </a></li>
                <li><a href="#"> Over ons </a></li>
            </ul>
        </nav>
    </header>

    <img id="hoofdimg" src = "/static/champignonteeld1.jpg" alt = "plaatje champignon">
    {% block body %}

    {% endblock %}

    <footer>
    {% block footer %}

    {% endblock %}
    <br>
    <li><a href="#"> Home </a></li>
    <li><a href="#"> Organisme </a></li>
    <li><a href="#"> Protein </a></li>
    <li><a href="#"> BLAST </a></li>
    <li><a href="#"> Over ons </a></li>
        <br>
    </footer>
    {% block scripts %}

    {% endblock %}
</body>

</html>