{% extends "baseapp.html" %}
{% block title %}
    Blast
{% endblock %}
{% block body %}

    <form class="filter" method="post">

        <h2>BLAST</h2>
        <p> Hier kan je een sequentie invoeren die dan geblast gaat worden. <br></p>
            De resultaten worden dan hier onder weergeven.</p>
        {% if bericht %}
            <p> {{ bericht }}</p>
        {% endif %}
        <label for="blastseq"> Voer sequentie in: </label><br>
        <textarea id="blastseq" rows="4" cols="70" name="blastseq"
        placeholder="Vul hier een sequentie in." required></textarea>
        <input type="submit" name ="verzend" value="Verzend">
    </form>

    <div class = "res">
     <!-- formulier niet verzonden en niet op een van de buttons geklikt. -->
     {% if (not request.form.get("verzend")) and not (request.args.get("page")) %}
        <p> Nog geen resultaten </p>

     <!-- Toon resultaten -->
    {% else %}

        <p> Hierbij de resultaten </p>

        <table id="resultaten">
            <tr>
                <th> Familie </th>
                <th> Geslacht </th>
                <th> Soort </th>
                <th> Score </th>
                <th> Query cover</th>
                <th> E-value </th>
                <th> Percentage-identity</th>
                <th> Positives </th>
                <th> Accessiecode </th>
            </tr>
            </table>
        {% if request.args.get('page') and  (not pagenummer == 0) %}
            <form id="previous"  method="get">
                <input type="hidden" name="page" value="{{ pagenummer - 1 }}">
                <button> Vorige </button>
            </form>
        {% endif %}

        <form id="next" method="get">
            <input type="hidden"  name="page" value="{{ pagenummer + 1 }}">
            <button id= "nextbtn" > Volgende </button>
        </form>

    {% endif %}
</div>



{% endblock %}
{% block footer %}
    Als er een sequentie geblast moet worden, kan dit hier.<br>
    De resultaten van BLAST worden hier weergeven.<br>
{% endblock %}