{% extends "base app.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <h2>Inleiding van website</h2>
    <p>
        De champignon (Agaricus bisporus) is een schimmel uit de familie Agaricaceae. Bij de productie van champignons wordt<br>
        speciale compost gebruikt die bestaat uit een mengsel van onder andere paardenmest, kippenmest, stro en gips. <br>
        Voordat de compost geschikt is voor gebruik ondergaat het verschillende behandelingen. Het bereidingsproces van <br>
        de compost is er op gericht om een optimale voedingsbodem (o.a. suikers) voor de champignon teelt te verkrijgen <br>
        en om groei van ongewenste micro-organismen te voorkomen.<br><br>
        <img src="/templates/index.png" alt="Dit is een foto van een chapignonnenteelt" width="229" height="220">
    </p>
    <p>
        Een groot probleem binnen de champignonteelt is echter dat de oogst van champignons sterk kan variëren.<br>
        Deels kan dit afhankelijk zijn van de bedrijfsvoering op de diverse teelbedrijven en deels is dit afhankelijk van de<br>
        kwaliteit van de compost. Daarnaast komt, ondanks vele voorzorgsmaatregelen, de schimmel Trichoderma agressivum<br>
        regelmatig in de compost voor. Deze schimmel kan in korte tijd het bed waarin de champignons geteeld worden<br>
        overgroeien waardoor de oogst mislukt. Ook micro-organismen die het pasteurisatie proces in de compost overleefd<br>
        hebben kunnen een negatieve of juist een positieve invloed hebben op de teelt. Deze micro-organismen vormen in de<br>
        compost een microflora. De microflora in de compost zal gedurende het proces voortdurend wisselen van samenstelling<br>
        en een grote rol spelen bij de afbraak van de compost (fermentatie) en de opbouw van voor de champignon geschikte<br>
        structuur en voedingstoffen. Bovendien speelt de microflora een positieve of negatieve rol richting pathogene<br>
        micro-organismen. Door het ontbreken van methoden om aanwezige micro-organismen in de compost te detecteren,<br>
        karakteriseren en te kwantificeren bestaat er momenteel weinig inzicht in de aanwezigheid en samenstelling van<br>
        microflora in de verschillende fases van het proces en de daarbij behorende invloed die de microflora heeft op<br>
        teeltresultaten.<br><br>
    </p>
    <p>
        Champignontelers (vertegenwoordigd door het Productschap Tuinbouw en CNC grondstoffen B.V.) willen een duurzame<br>
        oplossing waarbij een constante kwaliteit van de compost gegarandeerd kan worden en oogstvariaties als gevolg<br>
        van met name pathogene micro-organismen vermeden worden. Ter indicatie: wanneer er als gevolg van een betere<br>
        kwaliteit van de compost 5 % meer champignons geproduceerd zouden kunnen worden dan betekent dit in Nederland<br>
        een productiviteitsverhoging ter waarde van 12-15 mln. Euro per jaar. De Champignontelers hebben daarom de<br>
        volgende onderzoeksvragen geformuleerd:<br><br>

        <li>Is een betere benutting van de compost door de champignon mogelijk door het reguleren en controleren van de microflora die bij het composteringsproces betrokken is?</li><br>
        <li>Kan er een effectieve en geaccepteerde bestrijdingsmethode tegen pathogene micro-organismen en onkruidschimmels in de compost ontwikkeld worden?</li><br>

        Met deze vragen is het HAN Biocentre aan de slag gegaan. Om een betere sturing van de microflora in de compost mogelijk<br>
        te maken wordt er door het HAN Biocentre een inventarisatie en karakterisatie van de microflora in de compost<br>
        uitgevoerd gedurende de compostbereiding en gedurende de teelt. Vervolgens is de bedoeling om met deze informatie<br>
        de invloed te bepalen van de aanwezigheid van verschillende micro-organismen in de microflora op de compost<br>
        kwaliteit en te onderzoeken wat de correlatie is tussen de samenstelling van de microflora en de oogstopbrengsten.<br>
        Er kan dan een assay ontwikkeld worden die een voorspellende waarde heeft over de kwaliteit van de compost,<br>
        waardoor het mogelijk zal worden het composteringsproces aan te passen voordat de compost bij de telers wordt<br>
        afgeleverd.<br><br>

        Uiteindelijk zal het onderzoek een beeld geven van de optimale samenstelling van de microflora zodat er op de<br>
        lange termijn toegewerkt kan worden naar een betere en robuuste microbiologische controle van het<br>
        composteringsproces. De invloed van schadelijke micro-organismen (zowel pathogene micro-organismen die direct<br>
        gericht zijn tegen de champignon als aanwezige onkruidschimmels) die het proces verstoren zal verkleind worden<br>
        doordat er naar gestreefd wordt om een optimale samenstelling van de microflora te verkrijgen die de groei van de<br>
        pathogene micro-organismen en onkruidschimmels zoveel mogelijk voorkomt. Tevens wordt er gezocht naar antimicrobiële<br>
        stoffen, al dan niet uitgescheiden door micro-organismen, die ingezet kunnen worden tegen deze schadelijke<br>
        micro-organismen als "groene" milieuvriendelijke bestrijdingsmiddelen.<br><br><br>

        bron: project aanvraag RAAK-pro champignonteelt/ lectoraat Industriële Microbiologie, HAN Biocentre, Christien Lokman.
    </p>
{% endblock %}
{% block footer%} De onderzoeksvragen van de champignontelers zijn: <br>
    is een betere benutting van de compost door de champignon mogelijk door het reguleren en controleren van de microflora die bij het composteringsproces betrokken is?<br>
    Kan er een effectieve en geaccepteerde bestrijdingsmethode tegen pathogene micro-organismen en onkruidschimmels in de compost ontwikkeld worden?<br>
    Hier na is het HAN Biocentre aan de slag gegaan. Om te kijken wat de optimale samenstelling is was de microflora{% endblock %}