{% extends "baseapp.html" %}
{% block title %} Organisme {% endblock %}

{% block body %}

    <form class = "filter" method="post">
    <h2> filter op organisme </h2>


        <label for="selfamilie">Selecteer de families waar je resultaten
        van wilt zien</label>

        <select name="selfamilie" id="selfamilie">
        <!-- Haal families op uit database -->
            <option value="allefamilies" selected> Alle families </option>
            <option value="familienaam">familie1</option>
            <option value="familie2naam">familie2</option>
            <option value="familie3naam">familie3</option>
        </select>

        <!-- Als een familie hierboven is geslecteerd, toon dan alleen
             geslachten binnen deze familie (als dat mogelijk is) -->

        <label for="selgeslacht">Selecteer de geslachten waar je resultaten
        van wilt zien</label>

        <select name="selgeslacht" id="selgeslacht">
        <!-- Haal geslachten op uit database -->
            <option value="allegeslachten" selected> Alle geslachten </option>
            <option value="geslachtnaam">geslacht1</option>
            <option value="geslacht2naam">geslacht2</option>
            <option value="geslacht3naam">geslacht3</option>
        </select>

        <!-- Als een geslacht hierboven is geslecteerd, toon dan alleen
             soorten binnen dit geslacht (als dat mogelijk is)-->
        <label for="selsoort">Selecteer de soorten waar je resultaten
        van wilt zien</label>

        <select name="selsoort" id="selsoort">
        <!-- Haal soorten op uit database -->
            <option value="allesoorten" selected> Alle soorten </option>
            <option value="soortnaam">soort1</option>
            <option value="soort2naam">soort2</option>
            <option value="soort3naam">soort3</option>
        </select>

        <!-- Filters, om deze niet te tonen in resultatan,
              Tegenovergestelde als filters hierboven -->
        <label for="filterfamilie">Selecteer de families waar je <strong>geen </strong>
            resultaten van wilt zien<br> Houdt ctrl(Windows) of Command (Mac)
            ingedrukt om er meerdere te kunnen selecteren</label>
        <!-- Haal alle families uit db -->
        <select name="filterfamilie" id="filterfamilie" multiple size="3">
            <option value="famnaam">fam1</option>
            <option value="fam2naam">fam2</option>
            <option value="fam3naam">fam3</option>
            <option value="fam4naam">fam4</option>
            <option value="fam5naam">fam5</option>
            <option value="fam6naam">fam6</option>
        </select>

        <!-- Als hierboven gefilterd is op familie toon dan alleen de
             geslachten die niet bij deze familie horen(als dat mogelijk is) -->

        <label for="filtergeslacht">Selecteer de geslachten waar je <strong>geen </strong>
            resultaten van wilt zien<br> Houdt ctrl(Windows) of Command (Mac)
            ingedrukt om er meerdere te kunnen selecteren</label>
        <!-- Haal alle geslachten uit db
             Join blastresulten met geslacht en familie where familienaam not in
             Filterlijst van hierboven (als dat mogelijk is).
         -->
        <select name="filtergeslacht" id="filtergeslacht" multiple size="3">
            <option value="geslachtnaam">geslacht1</option>
            <option value="geslacht2naam">geslacht2</option>
            <option value="geslacht3naam">geslacht3</option>
            <option value="geslacht4naam">geslacht4</option>
            <option value="geslacht5naam">geslacht5</option>
            <option value="geslacht6naam">geslacht6</option>
        </select>


        <label for="filtersoort">Selecteer de soorten waar je <strong>geen </strong>
            resultaten van wilt zien<br> Houdt ctrl(Windows) of Command (Mac)
            ingedrukt om er meerdere te kunnen selecteren</label>
        <!-- Haal alle organismen uit db
             join blastres met geslacht en familie en toon hierbij
             alleen soorten die binnen de niet uitgefilterde
             geslachten en families vallen(als dat mogelijk is) -->
        <select name="filtersoort" id="filtersoort" multiple size="3">
            <option value="soortnaam">soort1</option>
            <option value="soort2naam">soort2</option>
            <option value="soort3naam">soort3</option>
            <option value="soort4naam">soort4</option>
            <option value="soort5naam">soort5</option>
            <option value="soort6naam">soort6</option>
        </select>


        <label for="optionparameters"> Toon algoritme parameters</label>
        <input type="checkbox" id="optionparameters" name="optionparameters">

        <div id = "optioncontent">

            <label for = "maxres"> Max aantal rijen </label>
            <input type = "number" id="maxres" name="maxres" min = "5"
            max = "100" step="1" placeholder="Voer een geheel getal tussen 5 en 100 in">

            <label for = "evalue"> E-value(kleiner dan): </label>
            <input type = "text" id="evalue" name="evalue">
        </div>

        <input id= "submitorg" type="submit" name ="verzend" value="Belijk resultaten">
    </form>

    <hr>
    <div class = "res">
        <p> Hieronder komen de resultaten</p>


    <table id="resultaten">

    <tr>
        <th> Familie </th>
        <th> Geslacht </th>
        <th> Soort </th>
        <th> Score </th>
        <th> Query cover</th>
        <th> E-value </th>
        <th> Percentage-identity</th>
        <th> Positives </th>
        <th> Accessiecode </th>
    </tr>
    </table>

    </div>
{% endblock %}

{% block footer %}
    Samenvatting
{% endblock %}

