{% extends "baseapp.html" %}
{% block title %}
    Over ons
{% endblock %}
{% block body %}

    <h2 class="overons">Wie zijn wij</h2>

    <p class="overons">
        Welkom,<br>
    Wij zijn David van Eersel, Pieter Verhoef, Femke Spaans en Renske Michels. Wij zijn 1e jaars Bio-Informatica
    studenten aan de HAN in Nijmegen.</p>
    <p class="overons">
    We zijn blij te kunnen helpen en trots dat wij iets gecreëerd hebben wat anderen mogelijk verder zou kunnen
    helpen met hun onderzoek.
        Dit zijn wij:</p>

    <div class="dit_zijn_wij">
        <figure class="overons">
            <img src="../static/DavidvanEersel.jpeg" alt="Foto van David van Eersel">
            <figcaption> David van Eersel</figcaption>
        </figure>
        <figure class="overons">
            <img src="../static/PieterVerhoef.jpg" alt="Foto van Pieter Verhoef">
            <figcaption> Pieter Verhoef </figcaption>
        </figure>
        <figure class="overons">
            <img src="../static/FemkeSpaans.jpeg" alt="Foto van Femke Spaans">
            <figcaption> Femke Spaans </figcaption>
        </figure>
        <figure class="overons">
            <img src="../static/RenskeMichels.jpeg" alt="Foto van Renske Michels">
            <figcaption> Renske Michels </figcaption>
        </figure>
    </div>


{% endblock %}

{% block footer %}
    <p class="samenvatting">
        Op deze pagina staat beschreven wie wij zijn en wat onze passie is.</p>
{% endblock %}
