{% extends "base app.html" %}
{% block title %}
    Over ons
{% endblock %}
{% block body %}
    <h2>Wie zijn wij</h2>
    Welkom,<br>
    <br>
    Wij zijn David van Eersel, Pieter Verhoef, Femke Spaans en Renske Michels. Wij zijn 1e jaars Bio-Informatica <br>
    studenten aan de HAN in Nijmegen.<br>
    <br>
    We zijn blij te kunnen helpen en trots dat wij iets gecreëerd hebben wat anderen mogelijk verder zou kunnen<br>
    helpen met hun onderzoek.<br>
    Dit zijn wij:<br>
    <div class="dit_zijn_wij">
        <img src="../static/David%20van%20Eersel.jpeg" alt="Foto van David van Eersel">
        <img src="../static/Pieter%20%20Verhoef.jpg" alt="Foto van Pieter Verhoef">
        <img src="../static/Femke%20Spaans.jpeg" alt="Foto van Femke Spaans">
        <img src="../static/Renske%20Michels.jpeg" alt="Foto van Renske Michels">

    </div>


{% endblock %}
{% block footer %}

{% endblock %}