{% extends "baseapp.html" %}
{% block title %} eiwit {% endblock %}

{% block body %}

    <form class = "filter" method="post">
    <h2> filter op eiwit </h2>

        <label for="seleiwitfunc">Selecteer de eiwitfuncties waar je resultaten
        van wilt zien</label>

        <select name="seleiwitfunc" id="seleiwitfunc">
        <!-- Haal eiwit op uit database ?-->
            <option value="alleeiwittenfunc" selected> Alle eiwittenfuncties </option>
            <option value="eiwitfunc">eiwitfunc1</option>
            <option value="eiwit2func">eiwitfunc2</option>
            <option value="eiwit3func">eiwitfunc3</option>
        </select>

        <label for="seleiwit">Selecteer de eiwitfuncties waar je <strong>geen </strong>
            resultaten van wilt zien<br> Houdt ctrl(Windows) of Command (Mac)
            ingedrukt om er meerdere te kunnen selecteren</label>
        <!-- Haal alle eiwit uit db ?-->
        <select name="filtereiwitfunc" id="filtereiwitfunc" multiple size="3">
            <option value="eiwitfunc">eiwit1</option>
            <option value="eiwit2func">eiwit2</option>
            <option value="eiwit3func">eiwit3</option>
            <option value="eiwit4func">eiwit4</option>
            <option value="eiwit5func">eiwit5</option>
            <option value="eiwit6func">eiwit6</option>
        </select>
        <label for="optionparameters"> Toon algoritme parameters</label>
        <input type="checkbox" id="optionparameters" name="optionparameters">

        <div id = "optioncontent">

            <label for = "maxres"> Max aantal rijen </label>
            <input type = "number" id="maxres" name="maxres" min = "5"
            max = "100" step="1" placeholder="Voer een geheel getal tussen 5 en 100 in">

            <label for = "evalue"> E-value(kleiner dan): </label>
            <input type = "text" id="evalue" name="evalue">
        </div>

        <input id= "submiteiwit" type="submit" name ="verzend" value="Belijk resultaten">
    </form>

    <hr>
    <div class = "res">
        <p> Hieronder komen de resultaten</p>


    <table id="resultaten">

    <tr>
        <th> Eiwitfunctie </th>
        <th> Score </th>
        <th> Query cover</th>
        <th> E-value </th>
        <th> Percentage-identity</th>
        <th> Positives </th>
        <th> Accessiecode </th>
    </tr>
    </table>

    </div>
{% endblock %}

{% block footer %}
    Samenvatting
{% endblock %}

