
{% extends "baseapp.html" %}
{% block title %} eiwit {% endblock %}

{% block body %}

    <form class = "filter" method="post">
    <h2> filter op eiwit </h2>

        <label for="seleiwitfunc">Selecteer de eiwitfuncties waar je resultaten
        van wilt zien</label>

        <select name="seleiwitfunc" id="seleiwitfunc">
        <!-- Haal eiwit op uit database ?-->
            <option value="alleeiwittenfunc" selected> Alle eiwittenfuncties </option>
            {% for eiwitfunctie in eiwitfuncties_cursor %}
            <option value="{{ eiwitfunctie[0] }}"> {{ eiwitfunctie[0] }}</option>
            {% endfor %}
        </select>

        <label for="percentageidentity"> Voer het identity percentage in waarvan je
            resultaten wilt zien</label>
        <input type="number" name="percentageidentity" id="percentageidentity"
        min="1" max="100" step="1" placeholder="Voer een geheel getal tussen 1 en 100 in"
        required>

        <label for="optionparameters"> Toon algoritme parameters</label>
        <input type="checkbox" id="optionparameters" name="optionparameters">

        <div id = "optioncontent">

            <label for="aantalres"> Selecteer het (max) aantal resultaten per pagina</label>
            <select name="aantalres" id ="aantalres">
                <option value="10"> 10 </option>
                <option value="20"> 20 </option>
                <option value="50"> 50 </option>
            </select>
            <label for = "evalue"> E-value(kleiner dan): </label>
            <input type = "number" id="evalue" name="evalue">
        </div>

        <input id= "submiteiwit" type="submit" name ="verzend" value="Belijk resultaten">
    </form>

    <hr>
    <div class = "res">
        <p> Hieronder komen de resultaten</p>


    <table id="resultaten">

    <tr>
        <th> Eiwitfunctie </th>
        <th> Score </th>
        <th> Query cover</th>
        <th> E-value </th>
        <th> Percentage-identity</th>
        <th> Positives </th>
        <th> Accessiecode </th>
    </tr>
    </table>

    {% if request.args.get('page') and  (not pagenummer == 0) %}
        <form id="previous"  method="get">
            <input type="hidden" name="page" value="{{ pagenummer - 1 }}">
            <button> Vorige </button>
        </form>
    {% endif %}

    <form id="next" method="get">
        <input type="hidden"  name="page" value="{{ pagenummer + 1 }}">
        <button id= "nextbtn" > Volgende </button>
    </form>

    </div>
{% endblock %}

{% block footer %}
    Samenvatting
{% endblock %}

